@import url('https://fonts.googleapis.com/css2?family=Sarpanch:wght@400;600&display=swap');

html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: silver;
}
header{
    position: absolute;
    width: 100%;
    z-index: 4;
}
.navbar {
    position: relative;
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0.40);
    padding-bottom: 10px;
  }
  
  .main-nav {
    list-style-type: none;
    display: none;
  }
  
  .nav-links,
  .logo {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
  }
  
  .logo img{
      width: 50%;
  }
  .main-nav li {
    text-align: center;
    margin: 15px auto;
  }
  
  .logo {
    display: inline-block;
    font-size: 22px;
    margin-top: 10px;
    margin-left: 20px;
  }
  
  .navbar-toggle {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.8);
    font-size: 24px;
  }
  
  .active {
    display: block;
  }
  
 
  
.intro {
    position: absolute;
    bottom: 10%;
    width: 100%;
    text-align: center;
    z-index: 2;
    font-family: 'Sarpanch', sans-serif;
}
.intro ul li{
    list-style: none;
}
.intro h1{
    color:white;
    font-size: 3rem;
}
.intro h1 span{
    color: #ff4a08;
}
.intro h2{
    color: #ff4b08;
}
.intro h3{
    color: white;
    font-size: 1rem;   
}
.scroll-down{
    position: relative;
    bottom: -10%;
}
video{
    position: relative;
    right: 0;
    bottom:0;
    width: 100%;
    height: auto;
    z-index: -1;
}

h3{
    font-size: 1,7rem;
}
h2{
    font-size: 2rem;
}
.container{
    padding: 30px;

}
.services{
    background-color: #2a2a2a;
    color: white;
    text-align: center;
}
.services-grid{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content:space-around;
    padding: 50px 0;
}
.services-grid-item{
    background-color: #fa6b37;
    box-shadow: black 2px 2px 5px ;
    margin: 10px;
    width: 25vw;
    height: 60vh;
    border-radius: 5px;
}
.services-grid-item figure{
    padding: 20px;
}
.about{
    text-align: center;
    padding: 30px 0;
}
.ready{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-around;
    background-color: #fa6b37;
    color:white;
    vertical-align: middle;
}
.ready a{
    color:white;
    text-decoration: none;
}
.features{
    text-align: center;
}
.features-grid{
    display: grid;
    grid-template-columns: auto auto auto;
}

.features-item{
    width: 350px;
    height: max-content;
}
.features-grid a{
    text-decoration: none;
    color: black;
}
.features-item img{
    box-shadow: black 2px 2px 5px ;
    border-radius: 5px;

}
.gallery{
    text-align: center;
    background-color: #2a2a2a;
}
.gallery-grid{
    display: grid;
    grid-template-columns: auto auto auto;
}

.gallery img{
    border-radius: 5px;
    box-shadow: black 2px 2px 5px ;
}
footer{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-around;
    background-color: #2a2a2a;
    color: white;
    padding: 40px 0;
}
#footer a{
    text-decoration: none;
    color: white;
}
.table tr{
    border:none !important;
    }
    
    table {
    border-collapse: collapse;
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    width: 100%;
    table-layout: fixed;
    border: none;
    }
    
    table caption {
    background-color: #fa6b37;
    color: #fff;
    text-align: center;
    font-size: 2em;
    margin: .5em 0 .75em;
    }
    
    table tr {
    padding: .45em;
    }
    table td {
      border: 1px solid #fa6b37;
    }
      
    table tr:hover td{
    background-color:wheat;
    }
    
    table th,
    table td {
    padding: .625em;
    text-align: center;
    }
    
    table th {
    font-size: 1em;
    letter-spacing: .1em;
    text-transform: uppercase;
    }
    @media screen and (min-width: 768px) {
        .navbar {
          display: flex;
          justify-content: space-between;
          padding-bottom: 0;
          height: 70px;
          align-items: center;
        }
      
        .main-nav {
          display: flex;
          margin-right: 30px;
          flex-direction: row;
          justify-content: flex-end;
        }
      
        .main-nav li {
          margin: 0;
        }
      
        .nav-links {
          margin-left: 40px;
        }
      
        .logo {
          margin-top: 0;
        }
      
        .navbar-toggle {
          display: none;
        }
      
        .logo:hover,
        .nav-links:hover {
          color: rgba(255, 255, 255, 1);
        }
      }

@media screen and (max-width: 950px){
    .services-grid-item{
        width: 250px;
        height: 300px;
    }
    .services-grid-item figure{
        padding: 0;

    }
}
@media screen and (max-width: 800px){
    .services-grid{
        grid-template-columns: auto auto;
    }
    .services-grid-item{
        width: 250px;
        height: 300px;
    }
    .services-grid-item figure{
        padding: 0;

    }
    table {
      border: none;
    }
    
    table caption {
      font-size: 1.3em;
    }
    
    table tr {
      display: block;
      margin-bottom: .625em;
    }
    
    table td {
      display: block;
      text-align: center;
    }
    table td:nth-child(odd){
        border-bottom:none;
    }
    
    
    table td::before {
    
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }
}